body {
  user-select: none; }

.game-layer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.ui-layer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }
